patient/.idea/
patient/.vscode/
patient/node_modules/
patient/tmp/
patient/temp/
patient/logs
patient/coverage/lcov-report
patient/coverage/coverage-final.json
patient/coverage/clover.xml
patient/.nyc_output/
patient/logs/

# don't check in  env files
patient/.env
patient/.env.prod
patient/.env.staging
patient/**/.DS_Store


doctor/.idea/
doctor/.vscode/
doctor/node_modules/
doctor/tmp/
doctor/temp/
doctor/logs
doctor/coverage/lcov-report
doctor/coverage/coverage-final.json
doctor/coverage/clover.xml
doctor/.nyc_output/
doctor/logs/

# don't check in  env files
doctor/.env
doctor/.env.prod
doctor/.env.staging
doctor/**/.DS_Store


gateway/.idea/
gateway/.vscode/
gateway/node_modules/
gateway/tmp/
gateway/temp/
gateway/logs
gateway/coverage/lcov-report
gateway/coverage/coverage-final.json
gateway/coverage/clover.xml
gateway/.nyc_output/
gateway/logs/

# don't check in  env files
gateway/.env
gateway/.env.prod
gateway/.env.staging
gateway/**/.DS_Store




admin/.idea/
admin/.vscode/
admin/node_modules/
admin/tmp/
admin/temp/
admin/logs
admin/coverage/lcov-report
admin/coverage/coverage-final.json
admin/coverage/clover.xml
admin/.nyc_output/
admin/logs/

# don't check in  env files
admin/.env
admin/.env.prod
admin/.env.staging
admin/**/.DS_Store